<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Endereço</th>
      <th>CEP</th>
      <th>UF</th>
      <th>Ativo</th>
      <th>Celular</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of people">
      <td>{{ person.id }}</td>
      <td>{{ person.name }}</td>
      <td>{{ person.address }}</td>
      <td>{{ person.cep }}</td>
      <td>{{ person.UF }}</td>
      <td>{{ person.active ? "Sim" : "Não" }}</td>
      <td>{{ person.smartphone }}</td>
      <td>
        <button (click)="onEdit(person.id!)">Editar</button>
        <button (click)="onDelete(person.id!)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
